/*Content Page Generic Styles*/
.main-content-wrapper {
	background-color: #fff;
	padding: 15px 30px 60px;
	top: -50px;
	margin: 0;
	position: relative;
}
.content-page-wrapper h1 {
	font-size: 32px;
	color: #373737;
	padding: 0 0 15px;
	margin: 0 0 30px;
	border-bottom: 1px solid #f5f4f3;
}
.geu-content-page-main-wrapper {
	background-color: #e5e5e5;
}
.content-page-banner.placeholder {
	background-color: #373737;
    min-height: 300px;
}
.content-page-wrapper .richText p.image-left img
{
    margin-bottom:10px;
}

/*Mobile, Tablet and Medium Style */
@media only screen and (min-width: 767px) and (max-width: 1199px) {
	.geu-content-page-main-wrapper {
		background-color: #fff;
		padding: 0 0 30px;
	}
	.main-content-wrapper {
		top: 10px;
		padding: 0 5px;
	}
	.content-page-wrapper h1 {
		font-size: 26px;
	}
}
/*Mobile, Tablet and Medium Style */
@media only screen and (min-width: 0) and (max-width: 767px) {
	.geu-content-page-main-wrapper {
		background-color: #fff;
		padding: 0 0 30px;
	}
	.main-content-wrapper {
		top: 10px;
		padding: 0 5px;
	}
	.content-page-wrapper h1 {
		font-size: 22px;
	}
}
.content-page-banner img {
	width: 100%;
}
