.faculty-componentt-wrapper .form-group {
    float: left;
    width: 50%;
}

.faculty-drop-down-content {
    padding: 10px;
    float: right;
    width: 55%;
}

.faculty-drop-down-content .select,
.faculty-drop-down-content .select::after {
     background: transparent;
     content: "";
}

select#faculty-department-selection {
    width: 95%;
    margin-left: 23px;
    padding-right: 42px;
}

select#faculty-department {
    margin-right: 15px;
    width: 95%;
    padding-right: 42px;
}

select.faculty-department {
    padding: 10px;
}

.faculty-drop-down-content .input-group-custom select {
    margin: 0;
    padding: 5px;
    color: #7a7a7a;
    cursor: pointer;
    font-family: 'Roboto-Light';
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    background-color: #fff;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 16px) calc(1em + 6px), calc(100% - 11px) calc(1em + 6px), calc(100% - 2.9em) 0.9em;
    background-size: 6px 6px, 6px 6px, 1px 1.4em;
    background-repeat: no-repeat;
}

select#faculty-department {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 16px) calc(1em + 6px), calc(100% - 11px) calc(1em + 6px), calc(100% - 2.9em) 0.9em;
    background-size: 6px 6px, 6px 6px, 1px 1.4em;
    background-repeat: no-repeat;
}

.faculty-component-departments-list-wrapper {
    width: 259px;
    display: inline-block;
    vertical-align: top;
    margin: 0 11px 40px 0;
}

.faculty-component-departments-list-wrapper:last-child {
    margin-right: 0;
}

.faculty-content-page-image img {
    width: 100%;
}

.faculty-content-page-descriptions {
    padding: 20px;
}

.faculty-content-page-descriptions h3 {
    margin: 0 0 20px;
}

.faculty-content-page-descriptions:hover {
    background: #dc2e27;
    color: #fff;
    cursor: pointer;
}

.faculty-content-page-image img {
    width: 100%;
}

.faculty-content-page-component-wrapper .content-page-descriptions.textWrapper {
    margin: 0 0 20px;
    padding: 20px 20px 35px 20px;
}
.content-page-descriptions h3 {
    margin: 0 0 20px;
}
.faculty-content-page-component-wrapper .content-page-descriptions:hover {
    background: #dc2e27;
    color: #fff;
    cursor: unset;
}

.faculty-content-page-component-wrapper:last-child {
    margin-right: 0;
}

.content-page-descriptions.dark {
    background: #373737;
    color: #fff;
}


.faculty-content-page-component-wrapper {
    /*margin-left: 8px;*/
    padding: 5px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.faculty-content-page-component-wrapper:first-child {
    /*margin-left: -16px;*/
}

.slick-dots {
    float: right;
    width: auto;
    margin-right: 55px;
    position: relative;
}

.slider-arrows a {
    margin-top: -5px;
    float: right;
    position: relative;
    z-index: 1;
    cursor: pointer;
}


.slider .slick-dots li {
    width: 15px;
    margin: 0 5px;
}

.slider .slick-dots .slick-active a,
.slick-dots .slick-active a {
    background: #dc2e27;
    color: #fff;
    text-align: center;
    padding: 3px;
}

.faculty {
    position: relative;
}

.pagingInfo {
    margin-top: -10px;
    float: left;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

/*Mobile and Small Device Styles*/

@media only screen and (min-width: 0) and (max-width: 767px) {
    .pagingInfo,
    .next,
    .slick-dots {
        font-size: 12px;
    }
    .faculty-content-page-component-wrapper {
        padding: 0;
    }
    .faculty-component-departments-list-wrapper {
        width: 100%;
    }
    .faculty-componentt-wrapper .form-group {
        width: 100%;
    }
    select#faculty-department {
        width: 100%;
    }
    select#faculty-department {
        width: 100%;
    }
    select#faculty-department-selection {
        width: 100%;
        margin-left: 0;
    }
    .faculty-drop-down-content {
        padding: 0;
        width: 100%;
    }
    .faculty .slick-dots li {
        display: none
    }
    .faculty .slick-dots li.slick-active,
    .faculty .slick-dots li.slick-active + li,
    .faculty .slick-dots li.slick-active + li + li {
        display: inline-block;
    }
    .faculty .slick-dots li:nth-last-child(1),
    .faculty .slick-dots li:nth-last-child(2),
    .faculty .slick-dots li:nth-last-child(3) {
        display: inline-block;
    }
    .faculty .slick-dots li.slick-active~li:nth-last-child(1),
    .faculty .slick-dots li.slick-active~li:nth-last-child(2),
    .faculty .slick-dots li.slick-active~li:nth-last-child(3) {
        display: none;
    }
    .faculty .slick-dots li.slick-active + li + li:nth-last-child(3),
    .faculty .slick-dots li.slick-active + li + li:nth-last-child(2),
    .faculty .slick-dots li.slick-active + li + li:nth-last-child(1),
    .faculty .slick-dots li.slick-active + li:nth-last-child(3),
    .faculty .slick-dots li.slick-active + li:nth-last-child(2),
    .faculty .slick-dots li.slick-active + li:nth-last-child(1) {
        display: inline-block;
    }
}
/*Tablet and Medium Device Styles*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .faculty-component-departments-list-wrapper {
        width: 30.33%;
        margin: 0 26px 40px 0;
    }
    .faculty-component-departments-list-wrapper:nth-child(3n) {
        margin-left: 0;
        margin-right: 0;
    }
    .faculty-component-departments-list-wrapper:last-child {
        margin-right: 0;
    }
    .faculty-componentt-wrapper .form-group:first-child {
        margin: 0 0 20px 0px;
    }
    .faculty-componentt-wrapper .form-group {
        float: left;
        width: 47%;
        margin: 0 0 20px 40px;
    }
    .faculty-drop-down-content {
        padding: 0 5px 0 0;
        float: left;
        width: 100%;
    }
    select#faculty-department {
        width: 100%;
    }
    select#faculty-department-selection {
        width: 100%;
        margin-left: 0;
    }
}


/*Tablet and Medium Device Styles*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .faculty-component-departments-list-wrapper {
        width: 31.33%;
        margin: 0 22px 40px 0;
    }
    .faculty-component-departments-list-wrapper:nth-child(3n) {
        margin-left: 0;
        margin-right: 0;
    }
    .faculty-component-departments-list-wrapper:last-child {
        margin-right: 0;
    }
}
/*Larger Devices*/
@media only and (min-width: 1200px) {
    .faculty-slider .slick-list.draggable {
        height: auto !important;
    }
}