.fourColumn {
    width: 255px;
    display: inline-block;
    vertical-align: top;
    margin: 0 11px 40px 0;
}
section.content-page-wrapper.dark {
    padding-top: 40px;
}
.dark .fourColumn {
    width: 274px;
}
.fourColumn:last-child {
    margin-right: 0;
}
.content-page-image {
                /*margin: 0 0 20px;*/
}
.content-page-image img {
                width: 100%;
}
.content-page-descriptions {
                padding: 20px;
}
.fourColumn a.content-description {
    color: #373737;
}
.content-page-descriptions h3 {
                margin: 0 0 20px;
}
.content-page-descriptions:hover {
                background: #dc2e27;
                color: #fff;
                cursor: pointer;
}

.fourColumn .content-page-descriptions.dark {
	min-height: 175px;
}

/*Mobile Styles*/
@media only screen and (min-width: 0) and (max-width: 767px) {
    .fourColumn {
                width: 100%;
    }
    .content-page-descriptions h3 {
        font-size: 18px;
     }
     .fourColumn .content-page-descriptions.dark {
	    min-height: 135px;
	}
}

/*Tablet and Medium Device Styles*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .fourColumn {
                width: 30.33%;
        margin: 0 26px 40px 0;
    }
    .fourColumn:nth-child(3n) {
        margin-left: 0;
        margin-right: 0;
    }
    .fourColumn:last-child {
        margin-right: 0;
    }

}
/*Tablet and Medium Device Styles*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fourColumn {
                width: 31.33%;
        margin: 0 22px 40px 0;
    }
    .fourColumn:nth-child(3n) {
        margin-left: 0;
        margin-right: 0;
    }
    .fourColumn:last-child {
        margin-right: 0;
    }
}

