<div class="call-centre-main-component">
   <div class="login-wrapper">
<div class="loginHeader">Login Page</div>
      <form id="loginform" name="loginform">
         <div class="form-group">
            <input type="text" class="form-control-textField" id="name" name="name" placeholder="Username">
         </div>
         <div class="form-group">
            <input type="Password" class="form-control-textField" id="inputPassword" name="inputPassword" placeholder="Password">
            <div id="errormsg"></div>
         </div>
         <div class="input-group-custom">
            <button type="submit"  class="btn-submit" id="btn-submit">login</button>
         </div>
         <span><input type="hidden" id="url" value="j_security_check"/></span>
      </form>
   </div>
</div>
<input type="hidden"  id="redirectURL" value="${properties.redirectURL}">
<input type="hidden"  id="errorMessage" value="${properties.errorMessage}">