# Configuration created by Apache Sling JCR Installer
filter.safe.user.agents=["Apache-HttpClient/*","Jakarta\ Commons-HttpClient/*","Jakarta-Commons-VFS","curl/*","Wget/*","WebDAVFS/*","Microsoft-WebDAV-MiniRedir/*","Ruby","Adobe-Campaign/*","Forms-Mobile\ *"]
filter.excluded.paths=[""]
filter.methods=["PUT","DELETE"]
filter.enable.safe.user.agents=B"false"
