    <footer>
            <div class="container">
                <div class="text-center center-block">
                    <a href="https://www.facebook.com/GEUOfficial/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/GEU_Official" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/graphic-era/?trk=biz-companies-cym" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/GraphicEraOfficial" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://plus.google.com/+GraphicEraOfficial" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                </div>
            </div>
    </footer>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='geu.landingpage'}" data-sly-unwrap/>
<script src="//www.google.com/recaptcha/api.js"></script>

