<!-- page wrapper start -->
<div class="geu-content-page-main-wrapper">
    <div class="geu-content-page-banner-wrapper">
        <div class="content-page-banner">
            <img src="${properties.contentImage}" alt="GEU Campus Top View">
        </div>
    </div>
    <div class="container">
        <div class="main-content-wrapper">
            <sly data-sly-resource="${@path='breacrumb', resourceType='geu-web/components/structure/breadcrumb'}"></sly>
            <section class="content-page-wrapper">
                <h1 data-sly-test="${properties.pageTitle}">${properties.pageTitle}</h1>
                <sly data-sly-resource="${@path='par', resourceType='foundation/components/parsys'}"></sly>
            </section>
        </div>
    </div>
</div>